/* Importing a font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Share style */
* {
  font-family: 'Work Sans', sans-serif;
}

.btn-primary {
  border-radius: 8px;
  background: #FF900E;
  color: #fff;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  border: 0;
}

/* Header style */
header {
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}

/* Styling the navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #424242;
}

.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

/* Banner style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner-description {
  color: #727272;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* Responsive media queries */
/* Mobile devices */
@media screen and (max-width: 567px) {
  header {
    padding: 20px 10px;
  }
  nav {
    flex-direction: column;
  }
}

/* Tablet devices */
@media screen and (min-width: 568px) and (max-width: 960px) {
  header {
    padding: 50px;
  }

  nav {
    flex-direction: column;
  }
}
